body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    padding: 20px;
}

#header_title {
    color: rgb(109, 109, 109);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 25px;
    align-self: center;
    width: 100%;
}

#header_options {
    text-transform: uppercase;
    letter-spacing: 4px;
    align-self: center;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.logout {
    margin-left: 10px;
    cursor: pointer; 
}

#header_options a{
    color: rgb(109, 109, 109);
    text-decoration: none;
}

#showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.37);
    height: 100vh;
    width: 100%;
    position: relative;
}

#showcase::before {
    content: '';
    background: url("../images/userdash.jpeg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.showcase-content {
    padding-left: 50px;
}

.showcase-content h1 {
    color: #fff;
    font-size: 3.5em;
    letter-spacing: 5px;
}

.showcase-content p {
    color: #fff;
    font-size: 2em;
}

#search {
    height: 33px;
    width: 290px;
    border: none;
}

#search_btn {
    background: #000;
    color: #fff;
    border: none;
    height: 35px;
    width: 100px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* random users */

#page_content h3 {
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: rgb(109, 109, 109);
}

#profile {
    margin-bottom: 50px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 45px;
    display: grid;
    width: 80%;
    margin: auto;
    
}

.profile-structure {
    
}

#user_profile {
    width: 100%;
    box-shadow: 3px 3px 5px 6px #ccc;
}

#user_profile .profile-image {
    width: 60%;
    margin: auto;
    padding-top: 50px;
}

#user_profile img {
    /* height: 250px;
    width: 250px; */
    border-radius: 50%;
    width: 100%;
}

#user_profile  p {
    text-align: center;
    color: rgb(109, 109, 109);
}

#user_profile .btn_father {
    margin: auto;
    width: 50%;
    padding-bottom: 40px;
}

#user_profile button {
    background: rgb(19, 92, 202);
    color: rgb(216, 216, 216);
    border: none;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.7em;
}

footer {
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    color: rgb(109, 109, 109);
}

::placeholder {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.7em;
}

/* user id holder */
#hidden {
    display: none;
}


/* PopUp */

.popUp {
    background: rgb(236, 236, 236);
    border: 1px solid gray;
    height: 70vh;
    width: 50%;
    padding: 15px;
    overflow: auto;
    margin: auto;
    left: 0;
    right: 0;
    top: 70px;
    position: fixed;
    display: none;
} 

#closeStructure {
    text-align: right;
}

#closeStructure .close {
    border: none;
    margin: 5px 5px 0 0;
    height: 15px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 7px;
    color: #fff;
    text-transform: uppercase;
    background: red;
    
    
}

/* .clientDetails {
    border: 1px solid blue;
} */

#profileImg {
    width: 300px;
    height: 300px;
    margin: auto;
    padding-bottom: 40px;
}

#profileImg .cliImage {
    width: 100%;
    border-radius: 50%;
}


#clientInfo ul {
    list-style: none;
    line-height: 40px;
    padding-right: 50px;
    margin: auto;
}

#clientInfo > ul > li {
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: capitalize;
    /* text-align: center; */
}

#clientInfo > ul > li > span {
    background: rgb(3, 156, 245);
    color: #fff;
    padding: 3px;
    border-radius: 4px; 
}


